<!doctype html>
<html lang="en">
<head>
  <title>{% block title %}Dashboard{% endblock %} | WooCommerce Dashboard</title>
  {% include 'includes/head.html' %}
  {% block stylesheets %}{% endblock %}
</head>
<body class="app-body">
  <a class="skip-link" href="#main-content">Skip to main content</a>
  {% include 'includes/navbar.html' %}

  <main id="main-content" class="app-main" tabindex="-1">
    <div class="app-shell">
      {% block content %}{% endblock %}
    </div>
  </main>

  {% include 'includes/footer.html' %}
  {% include 'includes/scripts.html' %}
  {% block javascripts %}{% endblock %}
</body>
</html>
