{% from 'includes/_operation_progress.html' import operation_progress %}
<div class="modal fade" id="scanModal" tabindex="-1" aria-hidden="true" aria-labelledby="scanModalTitle">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scanModalTitle">Update catalogue</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ operation_progress('modalOperationProgress', 'Catalogue update') }}
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
